body {
    font-family: "Courier New";
    background-image: url("../images/MK.jpg");
    background-size: 480px;
   
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: red;
}
